*
 {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
 }
 html
 {
	scroll-behavior: smooth;
 }
 body
     {
	   background: #080808;
	   color: #fff;
     }
 #header
 
       {
		width: 100%;
        height: 100vh;
        background-image: url(pro5.jpg);
        background-size: cover;
        background-position: center;		
	   } 
	 
.container
          {
			padding: 10px 10%;  
		  }
nav
    {
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;	 
	}	 
.logo
    {
	 width: 80px;
	 border-radius: 5px;
    }	
nav ul li
        {
		 display: inline-block;	
		 list-style: none;
		 margin: 25px 20px;
		}	
nav ul li a  
        { 
         color: #fff;
		 text-decoration: none;
		 font-size: 20px;
		 position: relative;
		}	
nav ul li a::after  
        { 
         content: "";
		 width: 0;
		 height: 4px;
		 background: #ff004f;
		 position: absolute;
		 left: 0;
		 bottom: -8px;
		 transition: 0.3s;
		}
		nav ul li a:hover::after
		{
		 width: 100%;
		 
		}
		.header-text
		{
	     margin-top: 30%;
		 font-size: 50px;
		 
		}
		.header-text h1
		{
		  
		 font-size: 50px;
		 margin-top: 40px;
		}
	.header-text span
	{
		color:#ff004f;
	}
	/*-----------------about-------------------*/
	#about
	{
	 padding:80px 0;
	 color: #ababab;
	}
    .row
    {
     display: flex;
     justify-content: space-between;
     flex-wrap: warap;	 
	}
 	.about-col-1{
		         flex-basis: 20%;
		        }
				
	.about-col-1 img
	                {
		             width: 150%;
		             border-radius: 10px;
	                }
    .about-col-2
	            {
			     flex-basis: 35%;
				 
				}
    .sub-title{
		       font-size: 30px;
	           font-weight: 600;
			   color: orange;
			   margin: 20px 0 30px;
			  }
	.tab-titles
	           {
		        display: flex;
				margin: 20px 0 60px;
				font-size: 70px;
	           }
    .tab-links
	{margin-right: 100px;
	font-size: 30px;
	font-weight: 550;
	cursor: pointer;
	position: relative;
	}	
	.tab-links::after{
		content: '';
		width:0;
		height: 3px;
		background: orange;
		position: absolute;
		left: 0;
		bottom: -8px;
		transition: 0.5s;
	}
	.tab-links.active-link::after{
		width: 50%;
	}
	.tab-contents ul li{
	 list-style: none;
	 margin:10px 0;
	}
	.tab-contents ul li span {
     color: orange;
     font-size: 14px;
     	 
	}
	.tab-contents{
		display: none;
	}
	.tab-contents.active-tab{
		display: block;
	}
	
	
	
	.container1 {
  position: relative;
  width: 100%;
  max-width: 300px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: auto%;
  height: atuo%;
  margin-top: -40px;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 150%;
  transition: 2s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

/*--------------services-------------*/



.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-gap: 40px;
    margin-top: 50px;
}


.services-list div
{
	background: #262626;
	padding: 40px;
	font-size: 13px;
	font-weight: 300;
	border-radius: 10px;
	transition: background 0.5s, transform 0.5s;
	
}
.services-list div i
{
	font-size: 50px;
	margin-bottom: 30px;
	
}
.services-list div h2
{
	font-size: 40px;
	margin-bottom: 15px;
	font-weight: 500;
}
.services-list div a
{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	margin-top: 20px;
	display: inline-block;
}
.services-list div:hover
{
	background: orange;
	transform: translateY(-10px);
}
#portfolio
{
	padding: 50px 0;
	
}
.work-list
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-gap: 40px;	
	margin-top: 50px;
}
.work-list div a
{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	margin-top: 20px;
	display: inline-block;
}
.work-list div i
{
	font-size: 10px;
}

/*--------------contact-----------------*/
.contact-left
{
	flex-basis: 40%
}
.contact-right
{
	flex-basis: 60%
}
.contact-left p
{
	margin-top: 30px;
	
}
.contact-left p i
{
	color: orange;
	margin-right: 15px;
	font-size: 20px;
}
.social-icons
{
	margin-top: 30px;
}
.social-icons a
{
	text-decoration: none;
	font-size: 30px;
	margin-right: 15px;
	color: #ababab;
	display: inline-block;
	transition: transform 0.5s;
}
.social-icons a:hover
{
	color: orange;
	transform: translateY(-5px)
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
	border: 1px solid orange;
	padding: 14px 50px;
    color: #fff; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.btn:hover {
    background-color: orange; /* Choose a darker shade for hover */
}
.btn.btn2
{
	display: inline-block;
	background: orange;
}
.contact-right form
{
	width: 100%;
}
form input, form textarea
{
	width: 100%;
	border: 0;
	outline: none;
	background: #262626;
	padding: 15px;
	margin: 15px 0;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
}
form .btn2
{
	padding: 14px 60px;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;
}
.copyright
{
	width:100%;
	text-align: center;
	padding:25px 0;
	background: #262626;
	font-weight: 300;
	margin-top: 20px;
}
.copyright i
{
	color: red;
}
nav .fa-solid
{
	display: none;
}

/* Existing CSS Code */

/* Small screen and smartphone screens */

  
@media only screen and (max-width: 600px) {
  /* Header */
  #header {
    background-image: url(phoneproimg.jpg);
    height: 100vh; /* Adjusted height for full viewport height */
    background-size: cover;
    background-position: center;
  }
  .header-text {
    margin-top: 100%; /* Adjusted margin for text positioning */
    font-size: 16px; /* Reduced font size for better readability */
  }
  .header-text h1 {
    font-size: 20px; /* Slightly increased font size for emphasis */
    margin-top: 10px;
  }
  nav .fa-solid
{
	display: block;
	font-size: 25px;
}
  nav ul
  {
	  background: #ff004f;
	  position: fixed;
	  top: 0;
	  right: -200px;
	  width: 200px;
	  height: 100vh;
	  padding-top: 50px;
	  z-index: 2;
	  transition: right 0.5s;
  }
  nav ul li
  {
	  display: block;
	  margin: 25px;
  }
  nav ul .fa-solid
  {
	  position: absolute;
	  top: 25px;
	  left: 25px;
	  cursor: pointer
  }
  .sub-title
  {
	  font-size: 40px;
  }
  .about-col-1 , .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
    .tab-links
	{
	 margin-right: 20px;
	 font-size: 16px;
	}	
	.contact-left, .contact-right
	{
		flex-basis: 100%;
	}
	.copyright
	{
		font-size: 14px;
	}
}

#msg
{
	color: #61b752;
	margin-top: -40px;
	display: block;
}



