*
 {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
 }
 body
     {
	   background: #080808;
	   color: #fff;
     }
 #header
 
       {
		width: 100%;
        height: 100vh;
        background-image: url(pro5.jpg);
        background-size: cover;
        background-position: center;		
	   } 
	 
.container
          {
			padding: 10px 10%;  
		  }
nav
    {
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;	 
	}	 
.logo
    {
	 width: 150px;
	 border-radius: 5px;
    }	
nav ul li
        {
		 display: inline-block;	
		 list-style: none;
		 margin: 25px 20px;
		}	
nav ul li a  
        { 
         color: #fff;
		 text-decoration: none;
		 font-size: 20px;
		 position: relative;
		}	
nav ul li a::after  
        { 
         content: "";
		 width: 0;
		 height: 4px;
		 background: #ff004f;
		 position: absolute;
		 left: 0;
		 bottom: -8px;
		 transition: 0.3s;
		}
		nav ul li a:hover::after
		{
		 width: 100%;
		 
		}
		.header-text
		{
	     margin-top: 30%;
		 font-size: 50px;
		 
		}
		.header-text h1
		{
		  
		 font-size: 50px;
		 margin-top: 40px;
		}
	.header-text span
	{
		color:#ff004f;
	}
	/*-----------------about-------------------*/
	#about
	{
	 padding:80px 0;
	 color: #ababab;
	}
    .row
    {
     display: flex;
     justify-content: space-between;
     flex-wrap: warap;	 
	}
 	.about-col-1{
		         flex-basis: 20%;
		        }
				
	.about-col-1 img
	                {
		             width: 150%;
		             border-radius: 10px;
	                }
    .about-col-2
	            {
			     flex-basis: 35%;
				 
				}
    .sub-title{
		       font-size: 30px;
	           font-weight: 600;
			   color: orange;
			   margin: 20px 0 30px;
			  }
	.tab-titles
	           {
		        display: flex;
				margin: 20px 0 60px;
				font-size: 70px;
	           }
    .tab-links
	{margin-right: 100px;
	font-size: 30px;
	font-weight: 550;
	cursor: pointer;
	position: relative;
	}	
	.tab-links::after{
		content: '';
		width:0;
		height: 3px;
		background: orange;
		position: absolute;
		left: 0;
		bottom: -8px;
		transition: 0.5s;
	}
	.tab-links.active-link::after{
		width: 50%;
	}
	.tab-contents ul li{
	 list-style: none;
	 margin:10px 0;
	}
	.tab-contents ul li span {
     color: orange;
     font-size: 14px;
     	 
	}
	.tab-contents{
		display: none;
	}
	.tab-contents.active-tab{
		display: block;
	}
	
	
	
	.container1 {
  position: relative;
  width: 100%;
  max-width: 300px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: auto%;
  height: atuo%;
  margin-top: -40px;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 150%;
  transition: 2s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

/*--------------services-------------*/



.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-gap: 40px;
    margin-top: 50px;
}


.services-list div
{
	background: #262626;
	padding: 40px;
	font-size: 13px;
	font-weight: 300;
	border-radius: 10px;
	transition: background 0.5s, transform 0.5s;
	
}
.services-list div i
{
	font-size: 50px;
	margin-bottom: 30px;
	
}
.services-list div h2
{
	font-size: 40px;
	margin-bottom: 15px;
	font-weight: 500;
}
.services-list div a
{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	margin-top: 20px;
	display: inline-block;
}
.services-list div:hover
{
	background: orange;
	transform: translateY(-10px);
}
#portfolio
{
	padding: 50px 0;
	
}
.work-list
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-gap: 40px;	
	margin-top: 50px;
}
.work-list div a
{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	margin-top: 20px;
	display: inline-block;
}
.work-list div i
{
	font-size: 10px;
}
